<nav class="navbar navbar-expand-lg navbar-dark bg-primary">
  <div class="container">
    <a class="navbar-brand" href="#">ดนตรีสากลน่ารู้</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarColor01"
      aria-controls="navbarColor01" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarColor01">
      <ul class="navbar-nav mr-auto">
      </ul>
      <form class="form-inline my-2 my-lg-0">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
                <a class="nav-link" href="#"><i class="fas fa-user"></i>
                  Profile <span class="sr-only">(current)</span></a>
              </li>
          <li class="nav-item active">
            <a class="nav-link" href="#"><i class="fas fa-sign-out-alt"></i>
              Logout <span class="sr-only">(current)</span></a>
          </li>
        </ul>
      </form>
    </div>
  </div>
</nav>

<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <div class="container">
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarColor03"
      aria-controls="navbarColor03" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarColor03">
      <ul id="menu-main-nav" class="navbar-nav nav-fill w-100">
        <li id="menu-item-42" class="nav-item  menu-item-42"><a href="XXX" class="nav-link"><i
              class="fas fa-tachometer-alt" style="font-size:27px;color:green"></i><br>dashboard</a></li>
        <li id="menu-item-42" class="nav-item  menu-item-42"><a href="XXX" class="nav-link"><i class="fas fa-drum"
              style="font-size:27px;color:red"></i><br>เครื่องดนตรี</a></li>
        <li id="menu-item-42" class="nav-item  menu-item-42"><a href="XXX" class="nav-link"><i class="fas fa-music"
              style="font-size:27px;color:palevioletred"></i><br>โน๊ตสากล</a></li>
        <li id="menu-item-42" class="nav-item  menu-item-42"><a href="XXX" class="nav-link"><i class="fas fa-diagnoses"
              style="font-size:27px;color:purple"></i><br>เครื่องและโน๊ต</a></li>
      </ul>
    </div>
  </div>
</nav>